In [5]:
def sum(a, b):
    s =a + b 
    return s

print(sum(2, 3))
print(sum(10, 23))

5
33

In [6]:
a = int(input("Enter a Number"))
b = int(input("Enter a Number Again"))
print(sum(a, b))

Enter a Number2
Enter a Number Again3
5

In [7]:
def calc_avg(a, b, c):
    sum = a + b + c
    avg = sum / 3
#     print(avg)
    return avg
    
print(calc_avg(2, 3, 4))

3.0

In [8]:
def odd_or_not(a):
    if(a %2==0):
        print("This Is Even")
    else:
        print("This Is Odd")

In [9]:
odd_or_not(10)

This Is Even

In [10]:
print("Hello World", end=" ")
print("Bilal Raza")

Hello World Bilal Raza

In [11]:
def calc_prod(a=2, b=4):
    print(a * b)
    return a * b

In [12]:
calc_prod()

8

8

In [13]:
list = ["Karachi", "Lahore", "Quetta", "Islamanad", "Peshawar", "Rawalpindi"]

def list_len(a):
    print(len(a))

list_len(list)

6

In [14]:
def print_list(list):
    for item in list:
        print(item, end=" ")

print_list(list)

Karachi Lahore Quetta Islamanad Peshawar Rawalpindi

In [22]:
# n =5
# fact = 1
# for i in range(1, n+1):
#     fact *= i
# print(fact)
def calc_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print(fact)

In [24]:
calc_fact(5)

120

In [27]:
def conv_Doll_2_Pak(p):
    converted_P = p*280
    print(converted_P)

conv_Doll_2_Pak(1)

280

In [28]:
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)

In [30]:
show(2)

2
1

In [34]:
def fact(n):
    if(n == 0 or n == 1):
        return 1
    else:
        return n * fact(n-1)

fact(4)

24

In [39]:
def nat_sum(n):
    if(n==0):
        return 0
    return nat_sum(n-1) + n
    
nat_sum(5)

15

In [41]:
def print_list(list,idx=0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx+1)

In [42]:
fruits = ["Apple", "Mango", "Peach", "Watermelon"]

print_list(fruits)

Apple
Mango
Peach
Watermelon