In [1]:
print("Hello World")

Hello World

In [3]:
name = "Bilal"
Father_Name = "Nadeem"
Full_name = (name + " " + Father_Name)
print(Full_name)

Bilal Nadeem

In [5]:
num1 = 10
num2 = 4
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 % num2)
print(num1 ** num2)

14
6
2.5
40
2
10000

In [2]:
a = 50
b = 30
print(not False)
print(not (a > b))

True
False

In [3]:
print("Or operator:", (a == b) or (a > b))
print("And operator:", (a == b) and (a > b))

Or operator: True
And operator: False

In [11]:
val1 = True
val2 = False
print("ans operator:", val1 and val2)
print("ans operator:", val1 and val1)
print("ans operator:", val2 and val2)
print("ans operator:", val1 or val2)
print("ans operator:", val1 or val1)
print("ans operator:", val2 or val2)

ans operator: False
ans operator: True
ans operator: False
ans operator: True
ans operator: True
ans operator: False

In [5]:
num3, num4 = 1,2.0
sum1 = num3 + num4
print(sum1)

3.0

In [8]:
num5, num6 = 1,"2"
num7 = int(num6)
sum2 = num5 + num7
print(sum2)

3

In [10]:
First_Name = input("Enter Your First name:")
Middle_Name = input("Enter Your  Middle name:")
Last_Name = input("Enter Your  Last name:")
Fullname = (First_Name +  " " + Middle_Name + " " + Last_Name)
print(Fullname)

Enter Your First name:Bilal
Enter Your  Middle name:Raza
Enter Your  Last name:Nadeem
Bilal Raza Nadeem

In [11]:
age1 = int(input("Enter Your Age"))
print(age1)

Enter Your Age12
12

In [12]:
age2 = int(input("Enter Your Age"))
New_age = (age2 + 3)
print("Your age after 3 year", New_age)

Enter Your Age17
Your age after 3 year 20

In [7]:
First = int(input("Enter Your Number"))
Last = int(input("Enter Your Number Again"))
print("This is your number",First + Last)

Enter Your Number54
Enter Your Number Again7
This is your number 61

In [13]:
Side = float(input("Enter Your Side"))
print("Your Square Area:", Side * Side)

Enter Your Side4
Your Square Area: 16.0

In [15]:
Float1 = float(input("Enter A Value in Decimal"))
Float2 = float(input("Enter A Value in Decimal Again"))
Average = ((Float1 + Float2) / 2)
print("Average  Of Your Value Is:", Average)

Enter A Value in Decimal10
Enter A Value in Decimal Again6
Average  Of Your Value Is: 8.0

In [16]:
Dig1 = int(input("Enter a Number"))
Dig2 = int(input("Enter a Number Again"))
print(Dig1 >= Dig2)

Enter a Number2
Enter a Number Again3
False

Enter Your NameBilal
Enter Your F.NameNadeem
Bilal Nadeem