In [3]:
Info = {
    "name" : "Bilal",
    "Age" : 17,
    "Marks" : [98, 97, 95],
}

In [4]:
print(Info["name"])
print(Info["Age"])
print(Info["Marks"])

Bilal
17
[98, 97, 95]

In [5]:
Info1 = {
    "Name" : "Soul Knight",
    "Subjects" : ["Python", "CSS", "HTML", "Javascript"],
    "Age" : 17,
    "Adult" : False,
}
print(Info1)
print(type(Info1))

{'Name': 'Soul Knight', 'Subjects': ['Python', 'CSS', 'HTML', 'Javascript'], 'Age': 17, 'Adult': False}
<class 'dict'>

In [6]:
print(Info1["Name"])
print(Info1["Age"])
print(Info1["Adult"])
print(Info1["Subjects"])

Soul Knight
17
False
['Python', 'CSS', 'HTML', 'Javascript']

In [7]:
Info1["Name"] = "Soul Hunter"
print(Info1["Name"])

Soul Hunter

In [8]:
null_dict = {}
print(null_dict)
null_dict["Name"] = "Bilal"
print(null_dict)

{}
{'Name': 'Bilal'}

In [7]:
student = {
    "Name" : "Bilal",
    "Subject" : {
        "Eng" : 90,
        "Math" : 80,
        "Urdu" : 60,
    },
    "Adult" : False
}
print(student)
print(student["Subject"])
print(student["Subject"]["Math"])

{'Name': 'Bilal', 'Subject': {'Eng': 90, 'Math': 80, 'Urdu': 60}, 'Adult': False}
{'Eng': 90, 'Math': 80, 'Urdu': 60}
80

In [8]:
print(len(student))

3

In [9]:
print(student.keys())

dict_keys(['Name', 'Subject', 'Adult'])

In [10]:
print(student.values())

dict_values(['Bilal', {'Eng': 90, 'Math': 80, 'Urdu': 60}, False])

In [11]:
print(student.items())

dict_items([('Name', 'Bilal'), ('Subject', {'Eng': 90, 'Math': 80, 'Urdu': 60}), ('Adult', False)])

In [12]:
print(student.get("Adult"))

False

In [15]:
student.update ({"City" : "Karachi"})
print(student["City"])

Karachi

In [14]:
print(list(student))

['Name', 'Subject', 'Adult', 'City']

In [18]:
nums = {1,2,3,4}
sett = {1,2,2,2}
print(nums)
print(type(nums))
print(sett)
print(len(sett))

{1, 2, 3, 4}
<class 'set'>
{1, 2}
2

In [65]:
set1 = {1,2,3,4,5,2,3,4}
print(set1)
set1.add(6)
print(set1)
set1.remove(5)
print(set1)
set1.pop()
print(set1)
set2 = {2,3,7,8,9,4}
print(set1.union(set2))
print(set1.intersection(set2))
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
{2, 3, 4, 6}
{2, 3, 4, 6, 7, 8, 9}
{2, 3, 4}
set()

In [2]:
dict1 = {
    "table" : ["a piece of furniture" , "list of facts & figures"],
    "cat" : "a small animal",
}
print(dict1)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

In [5]:
Class_set = {"python" ,"java" ,"C++" ,"python" ,"javascript" ,"java" ,"python" ,"java" ,"C++" ,"C"}
print(Class_set)
print(len(Class_set))

{'C', 'javascript', 'python', 'C++', 'java'}
5

In [6]:
english_num = int(input("Enter Your English Marks"))
urdu_num = int(input("Enter Your Urdu Marks"))
math_num = int(input("Enter Your Math Marks"))

Result_Dict = {
    "English" : english_num,
    "Urdu" : urdu_num,
    "Math" : math_num,
}
print(Result_Dict)

Enter Your English Marks23
Enter Your Urdu Marks23
Enter Your Math Marks23
{'English': 23, 'Urdu': 23, 'Math': 23}

In [8]:
result_dict = {}
english_num = int(input("Enter Your English Marks"))
result_dict.update({"English" : english_num})
urdu_num = int(input("Enter Your Urdu Marks"))
result_dict.update({"Urdu" : urdu_num})
math_num = int(input("Enter Your Math Marks"))
result_dict.update({"Math" : math_num})

print(result_dict)

Enter Your English Marks12
Enter Your Urdu Marks12
Enter Your Math Marks12
{'English': 12, 'Urdu': 12, 'Math': 12}

In [13]:
values ={9,"9.0"}
values1 ={
    ("float", 9.0),
    ("int", 9)
}
print(values)
print(values1)

{'9.0', 9}
{('float', 9.0), ('int', 9)}